<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="/common/top"></div>
<div id="Content">

    <div id="Catalog">
        <form action="editAccount" method="post">
            <h3>User Information</h3>

            <table>
                <tr>
                    <td>User ID:</td>
                    <td><input type="text" name="username" th:value="${account?.username}" /> </td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="text" name="password" /></td>

                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td><input type="text" name="repeatedPassword" /></td>
                </tr>
            </table>
            <div th:replace="/account/includeAccountFields"></div>

            <input type="submit" name="saveAccount" value="Save Account Information" />
        </form>

        <a th:href="@{'viewListOrder?username=' + ${account.username}">My Orders</a>
    </div>

</div>
<div th:replace="/common/bottom"></div>

</body>
</html>