<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ItemMapper">

    <cache />

    <select id="getItemListByProduct" parameterType="string" resultType="Item">
    SELECT
      I.ITEMID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      I.STOCKNUM
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
    AND I.PRODUCTID = #{value}
  </select>

    <select id="getItem" parameterType="string" resultType="Item">
    select
      I.ITEMID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity,
      I.STOCKNUM
    from ITEM I, INVENTORY V, PRODUCT P
    where P.PRODUCTID = I.PRODUCTID
      and I.ITEMID = V.ITEMID
      and I.ITEMID = #{value}
  </select>

    <select id="getInventoryQuantity" parameterType="string" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
  </select>

    <update id="updateInventoryQuantity" parameterType="map">
    UPDATE INVENTORY SET
      QTY = QTY - #{increment}
    WHERE ITEMID = #{itemId}
  </update>

  <select id="getStockNumByItemId" parameterType="string" resultType="int">
    select
      I.stocknum
    from ITEM I, INVENTORY V, PRODUCT P
    where P.PRODUCTID = I.PRODUCTID
      and I.ITEMID = V.ITEMID
      and I.ITEMID = #{value}
  </select>

  <update id="updateStockNum" parameterType="Item">
    UPDATE ITEM SET
      stocknum = #{stocknum}
    WHERE ITEMID = #{itemId}
  </update>

  <select id="getAllItem"  resultType="Item">
    select *
    from ITEM
  </select>

  <insert id="insertItem" parameterType="Item">
    INSERT INTO item
        (itemid,productid,listprice,unitcost,supplier,status,attr1,attr2,attr3,attr4,attr5,stocknum)
    VALUES
        (#{itemId},#{productId},#{listPrice},#{unitCost},#{supplierId},#{status},#{attribute1},#{attribute2},#{attribute3},#{attribute4},#{attribute5},#{stocknum})
  </insert>

  <update id="updateItem" parameterType="Item">
    UPDATE item
    set
        itemid=#{itemId},
        productid=#{productId},
        listprice=#{listPrice},
        unitcost=#{unitCost},
        supplier=#{supplierId},
        status=#{status},
        attr1=#{attribute1},
        attr2=#{attribute2},
        attr3=#{attribute3},
        attr4=#{attribute4},
        attr5=#{attribute5},
        stocknum=#{stocknum}
    WHERE itemid=#{itemId}
  </update>

  <delete id="deleteItem" parameterType="String">
    DELETE FROM item
    WHERE itemid=#{itemId}
  </delete>

</mapper>